// Import all of Bootstrap's SCSS
@import "~bootstrap/scss/bootstrap";

// Import Bootstrap Icons CSS
@import "~bootstrap-icons/font/bootstrap-icons.css";

/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

// Custom variables
$tertiary: #adb5bd;
$secondary-subtle: #e2e3e5;

/* Standards */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

main a,
footer a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

main {
  display: grid;
  grid-template-rows: 84% 6% 10%;

  .game-boards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    user-select: none;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .game-board {
      display: grid;
      grid-template-columns: repeat(11, 2.5rem);
      grid-template-rows: repeat(11, 2.5rem);
      margin-top: 0.25rem;

      .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $secondary-subtle;
        cursor: pointer;

        .content {
          font-weight: bolder;
        }

        &:hover {
          border: 2px solid $secondary;
        }

        &.label {
          background-color: $secondary-subtle;
          border: none;
          font-weight: bold;
          cursor: unset;
        }

        &.player-ship {
          background-color: $tertiary !important;
          border: none;
          cursor: unset;
        }

        &.computer-ship {
          &.attacked {
            background-color: $tertiary !important;
            border: none;
            cursor: unset;
          }
        }

        &.attacked {
          pointer-events: none;
          background-color: $light;
          cursor: unset;
        }
      }
    }

    .computer {
      .game-board {
        opacity: 0.25;
        pointer-events: none;
      }
    }
  }

  .randomize {
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
      transform: translateX(6px);
    }
  }

  .form-check {
    margin-bottom: 0;
  }
}
